.main-pages {
  position: absolute;
  font-size: 120%;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.main-pages:before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  left: 0;
  background: url(../../assets/Filmes-MCU.png) no-repeat;
  background-size: cover;
  opacity: 0.7;
}

header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  z-index: 10;
}