<section class="container-home">
  <h3>Avalie os Filmes abaixo</h3>

  <div class="cards-filmes">
    <div
      class="card-filme"
      *ngFor="let filme of filmes$ | async"
    >
      <img
        title="{{filme.title}} - {{filme.overview}}"
        [appLoadImage]="sanitizeUrls(filme.poster_path)"
      />
    </div>
<star-rating-comp
        [starType]="'./src/assets/images'"
        [labelText]="'My text!'"
        [staticColor]="'positive'"
      >
      </star-rating-comp>
    <!-- <star-rating-comp></star-rating-comp> -->
  </div>
</section>
