<section class="container-home">
  <h3>Avalie os Filmes abaixo</h3>

  <div class="cards-filmes">
    <div
      class="card-filme"
      *ngFor="let filme of filmes$ | async"
    >
      <img
        title="{{filme.title}} - {{filme.overview}}"
        [appLoadImage]="sanitizeUrls(filme.poster_path)"
      />
      <star-rating
        class="rating"
        [starType]="'svg'"
        [rating]="ratio(filme.vote_average)"
        [space]="between"
      ></star-rating>
    </div>
  </div>
</section>
