<section class="container-login">
  
  <div class="login-usuario">

    <span class="text-login">
      Faça login em sua conta More Movies
      <i class="fas fa-film"></i>
    </span>

    <form (ngSubmit)="onSubmit(formLogin)" #formLogin="ngForm" class="form-group">

      <a class="link-cadastro" routerLink="/cadastro">
        Se cadastrar
        <i class="far fa-address-card"></i>
      </a>

      <section class="inputs-login">
        <div class="form-inline">
          <label for="emailUsuario">E-mail</label>
          <input
            class="form-control mx-sm-3"
            id="emailUsuario"
            type="text"
            placeholder="E-mail"
            autocomplete="off"
            name="email"
            [(ngModel)]="usuario.email"
            required>
            <label for="emailUsuario" class="error" *ngIf="!usuario.email && formLogin.submitted">
              Campo obrigatório*
            </label>
        </div>
  
        <div class="form-inline">    
          <label for="senhaUsuario">Senha</label>
          <input
            type="password"
            id="senhaUsuario"
            class="form-control mx-sm-3"
            aria-describedby="passwordHelpInline"
            autocomplete="off"
            name="senha"
            [(ngModel)]="usuario.senha"
            required>
          <small id="passwordHelpInline" class="text-muted">
            Deve ter 8 a 20 caracteres.
          </small>
          <label for="senhaUsuario" class="error" *ngIf="!usuario.senha && formLogin.submitted">
            Campo obrigatório*
          </label>
        </div>
      </section>

      <footer class="acesso-conta">
        <button class="btn btn-lg btn-primary btn-block" type="submit" >
          Entrar
        </button>
        <a routerLink="/##">Esqueci minha senha</a>
      </footer>

    </form>
  </div>
</section>