.container-home {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ffffffe6;
  box-shadow: 5px 11px 8px 2px rgba(30, 30, 30, 0.7);
  border-radius: 20px; 

  .cards-filmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .card-filme {
      width: 130px;
       height: 180px;
      margin: 10px;

    }
  }
}